<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>購物頁面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="main-container">
        <h2>購物頁面</h2>

        <!-- 導覽按鈕 -->
        <div class="nav-buttons">
            <a href="{{ url_for('shoppingcart') }}"><button>購物車</button></a>
            <a href="{{ url_for('user') }}"><button>宿主</button></a>
        </div>

        <br>

        
    </div>
</body>
</html>
